@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/colorful-abstract-nebula-space-background.jpg);
    background-position: center;
    background-size: cover;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
}

header h1{
    font-weight: lighter;
}

#slider{
    width: 60%;
    height: auto;
    position: relative;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

#slider .child{
    width: 90%;
    height: 300px;
    background-color: white;
    display: flex;
    margin: 15% auto;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 7px 10px;
    background: linear-gradient(150deg,rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(4.0px);
    position: absolute;
    color: white;
    opacity: 0;
    transition: 2s;
}

#slider .child:nth-child(2){
    background: linear-gradient(150deg,rgba(29, 11, 52, 0.391), transparent);
}

#slider .child:nth-child(3){
    background: linear-gradient(150deg,rgba(145, 35, 94, 0.2), transparent);
}

.child h2{
    text-align: left;
    margin: 30px 40px 30px 20px;
    font-style: italic;
    font-weight: normal;
}

.child p{
    font-size: 80%;
    text-align: justify;
    width: 85%;
    margin-left: 20px;
    line-height: 23px;
    font-weight: lighter;
}

.child div img{
    position: absolute;
    width: 25%;
}

img{
    border-radius: 20px;
    margin-right: 15px;
}

.buttons{
    width: 100%;
    top: 450px;
    position: absolute;
}

.button{
    width:20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid white;
    display: inline;
    cursor: pointer;
}


footer{
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer h2{
    font-weight: lighter;
    font-size: 1.5rem;
}

footer span{
    color: #91235e;
    font-style: italic;
}

/*reponsividade*/

@media screen and (max-width: 768px){

    #slider{
        width: 100%;
    }

    .child{
        overflow-y: hidden;
    }

    .child h2{
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .child h2{
        font-size: 1.4rem;
    }

    .child p{
        margin-bottom: 5px;
        margin-left: 0;
        width: 100%;
        font-size: 90%;
    }

    .buttons{
        top: 400px;
    }
    
}